body,
#app {
  min-height: 100vh;
  min-width: 100vw;
}

.bg-strong {
  background-color: hsla(var(--bg-strong), var(--alpha));
}

.bg-soft {
  background-color: hsla(var(--bg-soft), var(--alpha));
  /* background-color: white; */
}
