body,
#app {
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfcaca00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 111, 111);
}

.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-strong {
  background-color: hsla(var(--bg-strong), var(--alpha));
}

.bg-soft {
  background-color: hsla(var(--bg-soft), var(--alpha));
}

.text-strong {
  color: hsla(var(--text-strong), var(--alpha));
}

.text-soft {
  color: hsla(var(--text-soft), var(--alpha));
}

.fill-strong {
  fill: hsla(var(--text-strong), var(--alpha));
}

.fill-soft {
  fill: hsla(var(--text-soft), var(--alpha));
}
